footer{
	background-color: black;
	color: white;
	padding-top: : 50px;
}
#foot
{
	display: flex;
	justify-content: space-around;


}
ul{
	list-style-type: none;
	font-size: small;
}
.btn{
	color: white;
	background-color: black;
	border: none;
	border-radius: 30px;
	position: right;

}
.btn-primary{
position:relative;
left:50%;
}

#join{
	display: flex;
	justify-content: space-around;
}
#card{
	display: flex;
	justify-content: space-around;
}
table
{
	border: 1px solid silver;
	text-align: center;


}
table{
margin:auto;
width: 100%;
}
th{
	background-color: black;
	color: white;
}
.card{
	padding: 10px;
	margin: 20;
}
.label{
    position: absolute;
    display: inline;
    top: 5%;
    left: 15%;
    text-align: center;
    width:70%;
    padding-left:2.0em;
    padding-right:2.0em;
    border-radius: 10px;
    opacity: 0.7;
    background-color: #E6E6FA;
 
}

.card-img-top{

    opacity: 0.5;

}
.card-img-top:hover{
opacity: 1.0;
}
 .container:hover .label{
  visibility: hidden;
}
carousel{
	text-align: top;
}
.colored-text{
	background-color: black;
	color: white;

}
.nav-link{
	
	color: black;
}
h5{
	visibility: hidden;
h2{
	margin-top:20px;
}